@font-face
{
  font-family: "HoneyScript";
  src: url("/dist/fonts/HoneyScript-SemiBold.ttf");
}

@font-face
{
  font-family: "young";
  src: url("/dist/fonts/Young.ttf");
}

body, html
{
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0; 
}

.image img {width:100%;}

/* couleur site */
$vert: #34FFC8;
$white: #ffffff;
$blueblack:#242424;
$black: #000000;
$greenblack:#2f2f2f;

/* @Mixins */

// ** === Mixin Margin === **//

@mixin margin($top,$bottom)
{
  margin-top: $top;
  margin-bottom:$bottom;
}

@mixin padding($top,$bottom)
{
	padding-top : $top;
	padding-bottom : $bottom;
}

// ** === Mixin Slide === **//

@mixin taille_slide ($width,$height,$padding,$bg_color)
{
  width: $width;
  height: $height;
  padding-bottom: $padding;
  background-color: $bg_color;
}

@mixin parallax($background-size,$background-position,$background-attachment,$background-repeat)
{
  background-size : $background-size;
  background-position : $background-position;
  background-attachment: $background-attachment;
  background-repeat: $background-repeat;
}

// ** === Mixin Font === **//

@mixin size-texte($size)
{
	font-size:$size; 
}

@mixin texte($color,$align,$decoration)
{
  color: $color;
  text-align: $align;
  text-decoration: $decoration;
}

@mixin text($color,$align)
{
  color: $color;
  text-align: $align;
}
// ** === Classes génerique === **//

	/** Texte 
	----------------------------------------------------- **/

	.F1{font-family:'HoneyScript', sans-serif;}
  .F2{font-family:'young', sans-serif;}
	.T-l{color: $white;text-align:left;text-decoration: none;}
	.T-r{color: $white;text-align:right;text-decoration: none;}
	.T-c{color: $white;text-align:center;text-decoration: none;}

	.green-line
	{
		text-decoration: underline 2px;
		text-underline-offset: 15px;
		text-decoration-color:$vert;
		text-decoration-thickness : 4px;
	}

	/** Alignement container 
	----------------------------------------------------- **/
	.eq-height
	{
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:  flex;
	  flex-flow: row wrap;
	  align-items: center;
	}

  /** Couleurs site 
  ----------------------------------------------------- **/
.vert{ background-color: #34FFC8;}
.white{background-color:#ffffff;}
.blueblack{background-color:#242424;}
.black{background-color:#000000;}
.greenblack{background-color:#08221d;}

/* ** === Navbar  === ** */

.bg-dark {background-color: #2b2b2bf2 !important;}

  navbar-dark .navbar-nav
{
/* z-index should be above .close-navbar-toggler */
  z-index:2;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

ol, ul {text-align: center;}

.close-navbar-toggler
{
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
}
.close-navbar-toggler.collapsed{z-index:-1;}

/** Couleurs des liens par default & au survol
---------------------------------------------------------- **/
.navbar-dark .navbar-nav .nav-link {
  color: $white;
  font-size: 20px;
  text-decoration: underline 2px;
  text-underline-offset: 10px;
  text-decoration-color:#34FFC8;
  margin-left: 3px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color: $vert;}

/** icone et hover
---------------------------------------------------------- **/
.icone img
{
  width:  40px;
  height: auto;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}
.align-text-top:hover
{
 opacity: 0.4;
}

/* ** === Home  === ** */
#Home
{
  .bg_parallax_1
  {
    @include taille_slide(100%,100%,250px,$black);
    background-image: url(/img/background/background-01.jpg);
    @include parallax(cover,center,fixed,no-repeat);
    margin: 0;
    padding-top: 250px;
  }

  .logo_bg
  {
    margin: auto;
    display: block;
    position: center;
  }

  h3{@include texte($white,center,none);@include margin(40px,20px);}
}

/* ** === Biographie  === ** */

#Biographie
{
  .bloc_bio
  {
    @include padding(10px,0px) ;
    background-color: #151515;

    .bio
    {
      @include margin(100px,0px) ;
     background-color: $black;
    }
  }

  #Nous
  {
    h1{@include text($white,center);} 
    @include padding(150px,100px);@include margin(0px,0px); background-color: $greenblack;  
  }
  .position_text
  {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  justify-content: center !important;
 
  }
  .bloc_info
  {
    .info
    {
      h1{@include text($white,left);@include margin(30px,20px);} 
      p{@include text($white,left);;@include margin(10px,10px);}
    }
  }
  
}
/* ** === Discographie  === ** */

#Discographie
{
  background-color: $black;
  @include padding(100px,100px) ;

  .bloc_disco
  {
    @include padding(50px,50px);
    h1{@include margin (40px,10px);}
  }

  .bloc-music
  {
    @include padding(50px,50px);
    @include margin(40px,20px);
   
background: #2fa283;
background: linear-gradient(45deg,#2fa283 50%, #252525 50%);
background: -webkit-linear-gradient(45deg,#2fa283 50%, #252525 50%);
background: -moz-linear-gradient(45deg,#2fa283 50%, #252525 50%);

    .subtitle{font-family:'HoneyScript', sans-serif;@include margin(30px,30px);}

    .image
    {
      width: 500px;
      height: auto;
      margin: auto;
      -webkit-box-shadow: -30px -30px 5px 0px rgba(255,255,255,0), -2px 1px 7px 1px #BCBCBC;
      -moz-box-shadow: -30px -30px 5px 0px rgba(255,255,255,0), -2px 1px 7px 1px #BCBCBC;
      box-shadow: -30px -30px 5px 0px rgba(255,255,255,0), -2px 1px 7px 1px #BCBCBC;
    }

    .bloc_chanson
    {
      padding-bottom: 40px;
      .titre_chanson a
      { 
        @include texte($white,center,none);
        @include size-texte(20px);
        @include padding(5px,5px);
      } 
      .titre_chanson a:hover {color: $vert;} 
    }
  }

  .bloc_icone
  {
    @include padding(10px,10px);
    background-color: #191919;
    .icone img
    {
      width:  10px;
      height: auto;
    margin: auto;
      list-style: none;
      @include padding(10px,10px);
     
    }
  }

  @media (max-width: 576px) 
  {
    .bloc_disco{padding-top: 0px; padding-bottom: 5px;}
    
  }
}
/* ** === Evenements  === ** */

#Evenements
{
  background-color:$greenblack;
  .bloc_title
  {
    @include padding(50px,10px);
  }
  .title
  {
    h3{@include margin (80px,20px);}
    p{@include margin (10px,10px);}
  }

  .bloc_date
  {
    @include padding(10px,50px);
    .date
    {
      .T-r{color: $vert;}
      .size{@include size-texte(40px);}

      @media (max-width: 576px) 
      {
        .size{font-size:25px;}
      }
    }
  }
}
/* ** === Galerie  === ** */

#Galerie
{
  background-color: $black;

  .bloc_title
  {
    @include padding(50px,50px) ;
  }

  .title
  {
    h3{@include margin (70px,20px);}
    p{@include margin (20px,20px)};
  }
  .bloc_photo
  {
    padding-bottom:150px;

  }

/* media queries affichage section galerie xs */ 
  @media (max-width: 576px) 
   {
    .scroll-min
    {
      @include padding(50px,50px) ;
    }
  }
}
/* ** === Contact  === ** */

#Contact
{
  .bg_parallax_3
  {
    @include taille_slide(100%,100%,100px,$black);
    background-image: url(/img/background/background-02.jpg);
    @include parallax(cover,center,fixed,no-repeat);
    margin: 0;
    padding-top: 100px;
  }
  .bloc_form{margin-top: 50px;}
  
  .form-control
  {
   background-color: #4344446b;
   color:  $white;
  }

  .form-control::placeholder 
  {
    color: $white;
    font-weight: bold;
    opacity: 1;
    font-family: lato;
    font-size: 20px;
  }
}
/* ** === footer  === ** */

footer
{
  @include padding(50px,50px) ;
  background-color: $black;
  .logo
  {
    width: 250px; height: auto;
    margin: auto;
    list-style: none;
    @include margin(30px,20px); 
  }

  .logo img:hover
  {
   opacity: 0.4;
  }
.bloc_mention{@include margin(30px,30px);}

 @media (max-width: 576px) 
 {
    .bloc_logo
    {
      display: flex;
      width: 100px;
      margin: auto;
    }
    img, svg 
    {
      padding-bottom: 10px;
    }
  }
}











/* Debug */

.red
{
  background-color: red;
}

.green
{
  background-color: greenyellow;
}

.pink
{
  background-color: palevioletred;
}

.blue
{
  background-color: #269abc;
}

.purple
{
  background-color: #8a39ff;
}

.orange
{
  background-color: orange;
}

.grey
{
  background-color: #D3D3D3;
}

.yellow
{
  background-color: yellow;
}